[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=buliscript
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Buli Script
Comment=A plugin draw with script (like with Logo)